body{
  font-family: "Montserrat";
  text-align: center;
}

}
h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat";
}

p{
  color: #8f8f8f;
}

/* containers */

.container-fluid{
  padding: 7% 15%;
}

/* colored-section */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
color: #fff;
}

/* Headings */

.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Navbar */

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.5em;
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 018px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.Download-button{
  margin: 5% 3% 5% 0;
}

/* Title-img */

#title .container-fluid{
  padding: 1% 15% 7%;
  text-align: left;
}
.title{
  position: relative;
}

.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features Section */

#features{
  z-index: 1;
  position: relative;
}

.feature-box{
  padding: 5%;
}

.features-title{
  line-height: 1.5;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* Testimonial-Section */

#testimonials{
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.test-img{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

/* Press-Section */

#press{
  background-color: #ef8172;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
  padding: 100px;
}

.pricing-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column{
  padding: 3%;
}

/* Call to Action */

/* Footer Section */

.social-icon{
margin: 20px 10px;
}

@media (max-width: 1028px){
  #title .button-text{
    text-align: right;
  }
  #title{
    text-align: center;
  }

  .title-img{
    position: static;
    transform: rotate(0);
  }

}
